html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sens-serif, serif;
  color: #626262;
  font-size: 16px;
}

ul {
	margin: 0;
	padding: 0;
}

.container {
  width: 900px;
 }

 .header {
 	margin: 75px auto 100px auto;
 }

.nav_list {
	margin: 0 160px;
	text-align: center;
}

.nav_list_item {
	display: inline-block;
	margin-right: 90px;
}

.nav_list_item:last-child {
	margin-right: 0;
}

.item_link {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
}

.blue {
	color: #38a4dd;
}

.main {
 	margin: 0px auto 70px auto;
 }

.article_block_wrapper {
	margin-bottom: 135px;
}

.article {
	width: 420px;
	display: inline-block;
}

.article:nth-child(n) {
	margin-right: 60px
}

.article:nth-child(2n) {
	margin: 0 0 0 -4px;
}

.article_img {
	width: 420px;
	margin-bottom: 32px;
}

.article_subtitle {
	text-transform: uppercase;
	margin-bottom: 32px;
}

.article_title {
	margin-bottom: 45px;
}

.article_text {
	margin-bottom: 0px;
	font-weight: 400;
}

.button_wrapper {
	margin-top: -80px;
	text-align: center;
}

.main_button{
	text-decoration: none;
	font-size: 24px;
	display: inline-block;
	padding: 20px 35px;
	border-radius: 3px;
	border: 2px solid #626262;
}