@import 'vars.css';
@import 'fonts.css';
@import 'style_mob.css';
@import 'style_tab.css';
@import 'style_desktop.css';
/* @font-face {
  font-family: 'WisdomScriptAJ';
  src: local('WisdomScriptAJ'), 
       url('../fonts/WisdomScriptAJ.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), Super Modern Browsers
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); Modern Browsers
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), Super Modern Browsers
       url('../fonts/montserrat-v12-latin-700.woff') format('woff'); Modern Browsers
}

@font-face {
  font-family: 'DroidSerif-Italic';
  src: local('DroidSerif-Italic'), 
       url('../fonts/DroidSerif-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), Super Modern Browsers
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff')Modern Browsers;
}

roboto-300 - latin
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), Super Modern Browsers
       url('../fonts/roboto-v18-latin-300.woff') format('woff'); Modern Browsers
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #515151;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.promo_section {
  background: url("../img/banner_mob.png") center no-repeat, rgba(26, 25, 21, 1);
  color: #ffffff;
  text-align: center;
}

.promo_section-header {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-bottom: 25px;
}

.logo {
  order: 2;
} 

.header_nav {
  order: 1;
  margin: 0 auto 119px auto;

}

.header_nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-list_item {
  list-style: none;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 7px 14px;
}

.nav-list_item:hover {
  border: 2px solid var(--fontPromoColor);
  border-radius: 45px;
  padding: 7px 14px;
}

.list_item-link {
  text-decoration: none;
  color: var(--fontPromoColor);
  font-size: 0.875rem;
  font-weight: 700;
}

.logo_link {
  text-decoration: none;
  color: var(--fontPromoColor);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.promo_section-body {
  padding-bottom: 130px;
}

.promo_section-promo_title {
  margin: 0 auto 20px auto;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.promo_section-promo_text {
  font-family: 'Roboto-Light', sens-serif;
  font-size: 1.125rem;
  width: 67%;
  margin: 0 auto 18px auto;
}

.promo_section-submit_button {
  background-color: #ff4e50;
  border: 2px solid #ff4e50;
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--fontPromoColor);
  padding: 12px 45px;
  border-radius: 45px;
}

.partner_section {
  padding-bottom: 56px;
  text-align: center;
}

.partner_section-header {
  margin: 0 auto 18px auto;
  color: #333333;
  font-size: 1.375rem;
  font-weight: 700;
  padding-top: 70px;
}

.partner_section-partner_list {
  margin-bottom: 30px;
}

.partner_list-partner_item {
  list-style: none;
  margin: 0 auto 30px auto;
  width: 193px;
}

.partner_item-partner_photo {
  width: 123px;
  height: 123px;
  border-radius: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 auto 20px auto;
}

.partner_item-partner_shape {
  width: 37px;
  height: 37px;
  border: 3px solid #ffffff;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_partner {
  background-image: url('../img/partner1.png');
}

.first_partner-shape {
  background-color: #ff4e50;
}

.second_partner {
  background-image: url('../img/partner2.png');
}

.second_partner-shape {
  background-color: #ffa507;
}

.third_partner {
  background-image: url('../img/partner3.png');
}

.third_partner-shape {
  background-color: #1cd7ad;
}

.fourth_partner {
  background-image: url('../img/partner4.png');
}

.fourth_partner-shape {
  background-color: #4e73db;
}

.partner_item-partner_name {
  margin: 0 auto 15px auto;
  font-size: 0.875rem;
  font-weight: 700;
  color: #333333;
}

.partner_item-partner_descr {
  margin: 0;
  font-family: 'Roboto-Light', sens-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #666666;
}

.partner_section-submit_button {
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  font-weight: 700;
  font-size: 0.875rem;
  color: #ff4e50;
  padding: 12px 45px;
  border-radius: 45px;
}
 */