@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }

  .container {
    width: 87.5%;
  }

  .promo_section {
    background: url("../img/banner_tab.png") center no-repeat, rgba(26, 25, 21, 1);
  }

  .promo_section-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    margin-bottom: 150px;
  }

  .header_nav {
    margin: 0;
  }

  .promo_section-body {
    padding-bottom: 225px;
  }

  .promo_section-promo_title {
    margin: 0 auto 25px auto;
    font-size: 3.25rem;
    width: 75%;
  }

  .promo_section-promo_text {
    font-size: 1.5rem;
    margin: 0 auto 33px auto;
  }

  .promo_section-submit_button {
    padding: 12px 20px;
  }

/*--------------------PARTNER SECTION---------------*/

  .partner_section {
    padding-bottom: 40px;
  }

  .partner_section-header {
    margin: 0 auto 30px auto;
    font-size: 1.375rem;
  }
  .partner_section-partner_list {
    flex-direction: row;
  }

  .partner_list-partner_item {
    width: 43%;
    height: 50%;
  }

  .partner_list-partner_item:nth-child(2) {
  order: 3;
  }

  .partner_list-partner_item:nth-child(4) {
  order: 4;
  }
}